.graph-context {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.color-box-1 {
    background-color: #1bb35d;
    width: 10px;
    height: 10px;
    border: 0.5px solid white;
    margin-right: 2px;
}

.color-box-2 {
    background-color: #21b3b8;
    width: 10px;
    height: 10px;
    border: 0.5px solid white;
    margin-right: 2px;
}

.dot-space{
  margin-left: 1.5px;
  margin-right: 1.5px;
}

.inner-context{
    display: flex;
    flex-direction: row;
}

