@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  background: #e5d5b4;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr min(750px, 46vw);
  align-items: center;
}

body::after {
  content: '';
  display: block;
  position: fixed;
  inset: 0;
  width: 100%;
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: -1;
  filter: brightness(95%);
}
@font-face {
  font-family: bauhaus;
  src: url(Square.woff);
}

.footer {
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  background-color: hsl(54, 64%, 54%);
  display: grid;
  place-items: center;
  font-family: 'Bebas Neue';
  padding-block: 0.5rem;
}
.art {
  width: 100%;
  height: 100%;
  background: url(Login\ Samping\ \(without\ x\).png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(80%);
}
.content{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.card{
    padding: 2rem 1rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.699);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
}
.card-title{
    font-weight: bold;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    flex-direction: column;
}
.card-subtitle{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.field{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.input{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
input[type="text"], input[type="password"]{
    padding: 0.7rem 0.8rem;
    font-family: 'Roboto Condensed', sans-serif;
    width: 23rem;
    background-color: rgba(255, 255, 255, 0.596);
    border: 1px solid black;
    box-shadow: none;
    padding-left: 2.5rem;
    outline: none;
    border-radius: 5px;
}
.icon{
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
}
.icon::after{
    content: '';
    display: block;
    position: absolute;
    height: 120%;
    width: 1px;
    background-color: rgba(128, 128, 128, 0.68);
    right: -50%;
    top: 0;
    transform: translateY(-10%);
}
button[type="submit"]{
    width: 100%;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    background-color: hsl(358, 51%, 38%);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    box-shadow: 0 5px 0 0 hsl(358, 51%, 24%);
    cursor: pointer;
}
.title{
    position: absolute;
    top: 1%;
    left: 2%;
    font-family: bauhaus;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    margin: 0;
    aspect-ratio: 1/1;
    width: 1rem;
    border-radius: 1px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}
button:hover{
    background-color: hsl(358, 51%, 33%);
}
button:active{
    transform: translateY(4px);
    box-shadow: 0 1px 0 0 hsl(358, 51%, 24%);
}
input[type="checkbox"]::before{
    content: '';
    display: block;
    position: absolute;
    inset: 15%;
    transform: scale(0);
    background-color: hsl(0, 3%, 9%);
    transition: 120ms ease-in-out;
}

input[type="checkbox"]:checked::before{
    transform: scale(1);
}

input[type="checkbox"] + label{
    margin-left: 5px;
    font-size: 0.9rem;
}
.input + label{
    margin-top: 10px;
}
label{
    font-family: 'Bebas Neue';
    font-size: 0.85rem;
}
.see{
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: 10px;
    opacity: 0.2;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.see:hover{
    opacity: 1;
}
.toasts{
    position: fixed;
    inset: auto auto 10px 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 0.6rem;
}
.toast{
    background-color: hsla(0, 2%, 10%, 0.836);
    padding: 0.9rem 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    transition: 250ms ease-in-out;
}